
:root {
  --gray-color: rgb(189, 189, 189);

  --prepare-space: 68vw;
  --queue-space: 20vw;

  --header-height: 100px;

}

.queue-box {

  position: relative;
  float: left;
  /* height: max-content; */
  width: calc(var(--queue-space) - 10px);
  border-radius: 5px;
  border: 1px solid var(--gray-color);
  /* right: var(--prepare-space); */
  /* margin-right: var(--prepare-space); */
  margin: 2px;

}

.queue {  

  /* height: 200px; */
  /* position: absolute; */
  width: max-content;
  
  /* background-size: contain; */
  /* width: calc( var(--image-width) - 2 * var(--border-width) ); */
  /* margin: var(--border-width); */
  
  border-radius: 5px;
  /* background-position: center; */

  margin: 5px;
  margin: 0;

}

.preview-img-box {

  float: left;

  /* Creates a box around the preview image */
  /* height: var(--image-height);
  width: var(--image-width); */
  height: 200px;
  width: 200px;
  /* border-width: calc( 2 * var(--border-width) ); */
  /* border-width: 2px;
  border-color: black; */
  border-radius: 5px;
  border: 1px solid var(--gray-color);

  margin: 5px;

}

.preview-img {  

  /* .preview-img */
  --image-height: 100px;
  --image-width: 100px;
  --border-width: 1;

  /* height: calc( var(--image-height) - 2 * var(--border-width) ); */
  height: 200px;
  width: 200px;
  
  background-size: contain;
  /* width: calc( var(--image-width) - 2 * var(--border-width) ); */
  /* margin: var(--border-width); */
  
  border-radius: 5px;
  /* background-position: center; */

  /* margin: 5px; */

}

.preview-img-box:hover {
  border: 1px solid purple;
}

.vr {
  position: fixed;
  bottom: 0px;
	border-left: 1px solid var(--gray-color);
	height: 100vh;
  margin-left: calc(100vw - var(--prepare-space));
}


#QueueHeader {
  margin-left: calc(100vw - var(--prepare-space) - var(--queue-space));
  /* float: right; */
  /* clear: both; */
  /* float: top; */
  width: var(--queue-space);
  margin-top: 0px;
  height: 100px;
  background-color: rgb(241, 241, 241);
}

  #QueueHeader .newqueuelabel {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: 80%; 
    width: 50%;
  }

    #QueueHeader .newqueuelabel p {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because letters are not centered by default */
      margin: 0;
    }

    #QueueHeader .newqueuebutton {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--gray-color);
    height: 80%; 
    width: 40%;
  }

    #QueueHeader .newqueuebutton:hover {
      border: 1px solid purple;
    }
    
    #QueueHeader .newqueuebutton p {
      position: absolute;
      /* font-weight: bold; */
      font-size: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because "+" is not centered by default */
      margin: 0;
    }

#QueueList {
  width: var(--queue-space);
  margin-top: 0px;
  margin-right: calc(var(--prepare-space));
  margin-left: calc(100vw - var(--prepare-space) - var(--queue-space));
  text-align: center;
  align-items: center;
}

/**/

#EditorHeader {
  margin-left: calc(100vw - var(--prepare-space));
  /* float: right; */
  /* clear: both; */
  /* float: top; */
  position: absolute;
  top: 0px;
  width: var(--prepare-space);
  margin-top: 0px;
  height: var(--header-height);
  background-color: rgb(241, 241, 241);
}

  #EditorHeader .neweditorlabel {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: 80%; 
    width: 50%;
  }

    #EditorHeader .neweditorlabel p {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because letters are not centered by default */
      margin: 0;
    }
  
  #EditorHeader .neweditorbutton {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--gray-color);
    height: 80%; 
    width: 40%;
  }

    #EditorHeader .neweditorbutton:hover {
      border: 1px solid purple;
    }
    
    #EditorHeader .neweditorbutton p {
      position: absolute;
      /* font-weight: bold; */
      font-size: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because "+" is not centered by default */
      margin: 0;
    }

#EditorList {
  width: var(--prepare-space);
  margin-top: 0px;
  position: absolute;
  top: var(--header-height);
  margin-left: calc(100vw - var(--prepare-space));
  text-align: center;
  align-items: center;
}

.App {
  margin-top: 100px;
  margin-left: 50vw;
  text-align: center;
  align-items: center;
}

/* For dropdown arrow */
.arrow {
  position: absolute;

  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  float: right;
  top: 4px;
}


