
:root {
  --gray-color: rgb(189, 189, 189);
}

.preview-img-box {

  float: left;

  /* Creates a box around the preview image */
  /* height: var(--image-height);
  width: var(--image-width); */
  height: 200px;
  width: 200px;
  /* border-width: calc( 2 * var(--border-width) ); */
  /* border-width: 2px;
  border-color: black; */
  border-radius: 5px;
  border: 1px solid var(--gray-color);

  margin: 5px;

}

.preview-img {  

  /* .preview-img */
  --image-height: 100px;
  --image-width: 100px;
  --border-width: 1;

  /* height: calc( var(--image-height) - 2 * var(--border-width) ); */
  height: 200px;
  width: 200px;
  
  background-size: contain;
  /* width: calc( var(--image-width) - 2 * var(--border-width) ); */
  /* margin: var(--border-width); */
  
  border-radius: 5px;
  /* background-position: center; */

  /* margin: 5px; */

}

.preview-img-box:hover {
  border: 1px solid purple;
}

.vr {
  position: fixed;
  bottom: 0px;
	border-left: 1px solid var(--gray-color);
	height: 100vh;
  margin-left: calc(50vw);
}

#EditorHeader {
  margin-left: calc(50vw);
  margin-top: 0px;
  height: 100px;
  background-color: rgb(241, 241, 241);
}

  #EditorHeader .neweditorlabel {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: 80%; 
    width: 50%;
  }

    #EditorHeader .neweditorlabel p {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because letters are not centered by default */
      margin: 0;
    }
  
  #EditorHeader .neweditorbutton {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--gray-color);
    height: 80%; 
    width: 40%;
  }

    #EditorHeader .neweditorbutton:hover {
      border: 1px solid purple;
    }
    
    #EditorHeader .neweditorbutton p {
      position: absolute;
      font-weight: bold;
      font-size: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);  /* -60% for y because "+" is not centered by default */
      margin: 0;
    }

#EditorList {
  margin-top: 0px;
  margin-left: calc(50vw);
  text-align: center;
  align-items: center;
}

.App {
  margin-top: 100px;
  margin-left: 50vw;
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
